{% extends 'SuperBaseBundle::layout.html.twig' %}
{% block body %}
    <section class="panel">
        <header class="panel-heading">
            Busca inteligente
        </header>
        <div class="panel-body">
            <form class="form-horizontal tasi-form" method="get">

                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Sexo</label>
                    <div class="col-lg-2">
                        {{ formSelect("sgSexo", entity.getSgSexo(), {'class': 'form-control valid'}, cmbSexo) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Idade mínima</label>
                    <div class="col-lg-2">
                        <input type="text" name="nuIdadeMin" mask="99" class="form-control" value="{{ entity.getNuIdadeMin() }}" placeholder="Idade mínima">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Idade máxima</label>
                    <div class="col-lg-2">
                        <input type="text" name="nuIdadeMax" mask="99" class="form-control" id="" placeholder="Idade máxima">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Atividade</label>
                    <div class="col-lg-2">
                        <select name="nuAtividade" class="form-control">
                            <option value="1">Que foi</option>
                            <option value="2">Que não foi</option>
                            <option value="0">Todos</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Lista de franqueados</label>
                    <div class="col-lg-4">
                        {{ formSelect('', arrFranquia, {'class': 'multi-select', 'multiple': 'multiple', 'id': 'idFranqueado', 'name': 'idFranqueado[]', 'required': 'required'}, cmbFranquia) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Nos últimos</label>
                    <div class="col-lg-2">
                        <input name="nuPeriodo" type="text" mask="99999" class="form-control">
                    </div>
                    <div class="col-lg-2">
                        {{ formSelect("noPeriodo", null, {'class': 'form-control valid'}, cmbPeriodo) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Que obtiveram bônus nos últimos</label>
                    <div class="col-lg-2">
                        <input name="nuCreditoPeriodo" type="text" mask="99999" class="form-control" id="">
                    </div>
                    <div class="col-lg-2">
                        {{ formSelect("noCreditoPeriodo", null, {'class': 'form-control valid'}, cmbPeriodo) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Que utilizaram bônus nos últimos</label>
                    <div class="col-lg-2">
                        <input name="nuDebitoPeriodo" type="text" mask="99999" class="form-control" id="">
                    </div>
                    <div class="col-lg-2">
                        {{ formSelect("noDebitoPeriodo", null, {'class': 'form-control valid'}, cmbPeriodo) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Que obtiveram e utilizaram bônus nos últimos</label>
                    <div class="col-lg-2">
                        <input name="nuBonusTransacionado" type="text" mask="99999" class="form-control" id="">
                    </div>
                    <div class="col-lg-2">
                        {{ formSelect("noBonusTransacionado", null, {'class': 'form-control valid'}, cmbPeriodo) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Que possuam saldo de bônus</label>
                    <div class="col-lg-2">
                        {{ formSelect("noSaldoBonus", null, {'class': 'form-control valid'}, cmbOperador) }}
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">R$</span>
                            <input name="nuSaldoBonus" type="text" mask="decimal" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Que se registraram a</label>
                    <div class="col-lg-2">
                        <input name="nuCadastro" type="text" mask="99999" class="form-control" id="">
                    </div>
                    <div class="col-lg-2">
                        {{ formSelect("noCadastro", null, {'class': 'form-control valid'}, cmbPeriodo) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Que possuam média de consumo</label>
                    <div class="col-lg-2">
                        {{ formSelect("noMediaConsumo", null, {'class': 'form-control valid'}, cmbOperador) }}
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">R$</span>
                            <input name="nuMediaConsumo" type="text" mask="decimal" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Que já consumiu até hoje</label>
                    <div class="col-lg-4">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">R$</span>
                            <input name="nuConsumoTotal" type="text" mask="decimal" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Aniversariantes do mês</label>
                    <div class="col-lg-10">
                        <label class="checkbox-inline">
                            <input name="nuAniversariante" type="checkbox" id="inlineCheckbox1" value="1">
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Buscar
                </button>
            </form>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading">
            Filtro do resultado
        </header>
        <div class="panel-body">
            <form class="form-horizontal tasi-form" method="get">
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Acrescentar pontos</label>
                    <div class="col-lg-2">
                        <input type="number" class="form-control" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Acrescentar bônus</label>
                    <div class="col-lg-2">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">R$</span>
                            <input type="text" mask="decimal" class="form-control">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script>
        $('#idFranqueado').multiSelect();
    </script>
{% endblock %}