{% extends 'SuperBaseBundle::layout.html.twig' %}
{% block body %}


    <section class="panel">
        <header class="panel-heading">
            Editar Enquete
              <span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
              </span>
        </header>
        <div class="panel-body">
            <form method="post"  id="form-cadastro" class="form-horizontal tasi-form" enctype="multipart/form-data">
                <input type="hidden" name="idEnquete" value="{{ entity.idEnquete }}">
                <input type="hidden" name="updateEnquete" value="1">
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Nome</label>

                    <div class="col-lg-9">
                        <input type="text" class="form-control required"  id="noEnquete" name="noEnquete" value="{{ entity.noEnquete }}">
                    </div>
                </div>



                <div class="form-group">
                    <label for="txtData" class="control-label col-md-3">Pontos</label>

                    <div class="col-md-1">
                        <input type="text" class="form-control  required" mask="integer" value="{{ entity.nuPontos }}" id="nuPontos" name="nuPontos"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtData" class="control-label col-md-3">Bonus $R:</label>

                    <div class="col-md-2">
                        <input type="text" class="form-control required" mask="decimal" value="{{ entity.nuBonus }}" id="nuBonus" name="nuBonus"/>
                    </div>
                </div>

 

                <div class="form-group">
                    <label for="txtData" class="control-label col-md-3">Data Final</label>

                    <div class="col-md-3">
                        <input type="text" value="{{ entity.getDtFim()|date("d/m/Y") }}" class="form-control required" id="datepicker"
                               placeholder="Data final" name="dtFim"/>
                        <span class="help-block">DD/MM/AAAA</span>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Pergunta</label>

                    <div class="col-lg-9">
                        <input type="text" class="form-control required" id="noPergunta" name="noPergunta" value="{{ entity.noPergunta }} ">
                    </div>
                </div>

                {% set num = 0 %}
                {% for key, resposta  in  entity.idResposta %}
                    {% set num = num+1 %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">{{ num }}° Resposta</label>

                        <div class="col-lg-9">
                             <input type="hidden" name="idResposta{{ num }}" value="{{  resposta.idResposta }}" />
                             <input type="hidden" name="total" value="{{ num }}" />
                             <input type="text" class="form-control required" value="{{ resposta.noResposta }}" placeholder="{{ key }}° Resposta" id="" name="resposta{{ num }}">
                        </div>
                    </div>
                {% endfor %}



                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Situação</label>

                    <div class="col-lg-9">
                        <select class="form-control required" id="stAtivo" name="stAtivo">
                            {% if entity.stAtivo == 1 %}
                                <option value="1">Ativo</option>
                                <option value="0">Inativo</option>
                            {% else %}
                                <option value="0">Inativo</option>
                                <option value="1">Ativo</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>

                        <a href="{{ path('manter_enquete_index') }}" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR'
            });
        });
    </script>
{% endblock %}
