<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="{{ asset('bundles/superbase/img/favicon.png') }}">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/superbase/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/superbase/css/bootstrap-reset.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/superbase/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset('bundles/superbase/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/superbase/assets/bootstrap-datepicker/css/datepicker.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/superbase/assets/bootstrap-colorpicker/css/colorpicker.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/superbase/assets/bootstrap-daterangepicker/daterangepicker.css') }}"
          rel="stylesheet"/>

    <link href="{{ asset('bundles/superbase/css/slidebars.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/superbase/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/superbase/css/style-responsive.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/superbase/assets/fancybox/source/jquery.fancybox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/superbase/css/bootstrap-fileupload.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/superbase/assets/jquery-multi-select/css/multi-select.css') }}" rel="stylesheet"/>
    <script src="{{ asset('bundles/superbase/js/html5shiv.js') }}"></script>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/superbase/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/superbase/assets/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/superbase/assets/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('bundles/superbase/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>

    <script src="{{ asset('bundles/superbase/js/bootstrap.min.js') }}"></script>
    <script class="include" type="text/javascript"
            src="{{ asset('bundles/superbase/js/jquery.dcjqaccordion.2.7.js') }}"></script>
    <script src="{{ asset('bundles/superbase/assets/fancybox/source/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('bundles/superbase/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('bundles/superbase/js/jquery.nicescroll.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/superbase/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/superbase/js/respond.min.js') }}"></script>
    <script src="{{ asset('bundles/superbase/DataTables-1.10.5/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/superbase/DataTables-1.10.5/media/js/dataTables.responsive.nightly.min.js') }}"></script>
    <script src="{{ asset('bundles/superbase/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js') }}"></script>
    <script src="{{ asset('bundles/superbase/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js') }}"></script>

    <!--right slidebar-->
    <script src="{{ asset('bundles/superbase/js/slidebars.min.js') }}"></script>
    <script src="{{ asset('bundles/superbase/js/bootstrap-fileupload.js') }}"></script>

    <script type="text/javascript"
            src={{ asset("/bundles/site/assets/js/bootstrap-inputmask/bootstrap-inputmask.js") }}></script>
    <!-- SCRIPT BASE -->
    <script type="text/javascript" src={{ asset("/bundles/site/app/js/mask.js") }}></script>
    <script type="text/javascript" src={{ asset("/bundles/site/app/js/validate.js") }}></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 
</head>

<body>

<section id="container" class="">
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
        </div>
        <!--logo start-->
        <a href="{{ path('super_home') }}" class="logo">
            {#<img src = "{{ asset('/bundles/site/assets/images/logo/logo.png') }}" width="100" />#}
            FIDELIDADE
        </a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
        </div>
        <div class="top-nav ">
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="{{ asset('bundles/superbase/img/avatar-mini2.jpg') }}">
                        <span class="username">
                            {#{{ app.security.getToken().getUser().getIdPessoa().getNoPessoa(true) }}#}
                        </span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        {#<li><a href="{{ path('usuario_logout') }}"><i class="fa fa-key"></i> Log Out</a></li>#}
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            {% include "SuperBaseBundle::menu.html.twig" %}
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            {% if(app.session.flashbag.peekAll|length) %}
                {% for label, flashes in app.session.flashbag.all %}
                    <div class="alert alert-block alert-{{ label|replace({'error': 'danger'}) }} fade in">
                        <button type="button" class="close close-sm" data-dismiss="alert">
                            <i class="fa fa-times"></i>
                        </button>

                        {% for flash in flashes %}
                            {{ flash }}<br/>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}

            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
    <!--footer start-->

    <footer class="site-footer">
        <div class="text-center">
            2015 &copy; Fidelidade
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>


<!--common script for all pages-->
<script src="{{ asset('bundles/superbase/js/common-scripts.js') }}"></script>
<script src="{{ asset('bundles/superbase/app/js/validate.js') }}"></script>
<script src="{{ asset('bundles/superbase/js/grid.js') }}"></script>
<script src="{{ asset('bundles/superbase/js/respond.min.js') }}"></script>

<script src="{{ asset('bundles/superbase/js/bootstrap-fileupload.js') }}"></script>
<script src="{{ asset('bundles/superbase/assets/jquery-multi-select/js/jquery.multi-select.js') }}"></script>
<script src="{{ asset('bundles/superbase/js/bootstrap-inputmask.min.js') }}"></script>
<script src="{{ asset('bundles/superbase/js/jquery.autocomplete.js') }}"></script>
<!--
<script type="text/javascript" src="/bundles/site/assets/js/bootstrap-inputmask/bootstrap-inputmask.js"></script>
-->

<!-- SCRIPT BASE -->
<!--
<script type="text/javascript" src="/bundles/site/app/js/mask.js"></script>
-->
<script type="text/javascript" src="/bundles/site/app/js/validate.js"></script>

{% block javascripts %}{% endblock %}

<script>
    $(document).ready(function () {

        $("#form-promocao").submit();
        $("#form-enquete").submit();
        $("#form-cardapio").submit();

        $("#datepicker").datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR'
        });
        $('.wysihtml5').wysihtml5();
    });
</script>

</body>
</html>