<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Fidelidade">
        <meta name="author" content="2Creative">
        <meta name="keyword" content="Fidelidade">
        {#<link rel="shortcut icon" href="{{ asset('bundles/superbase/img/favicon.png') }}">#}

        <title>{% block title %}Fidelidade{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                '@SuperBaseBundle/Resources/public/css/bootstrap.min.css'
                '@SuperBaseBundle/Resources/public/css/bootstrap-reset.css'
                '@SuperBaseBundle/Resources/public/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
                '@SuperBaseBundle/Resources/public/assets/font-awesome/css/font-awesome.css'
                '@SuperBaseBundle/Resources/public/assets/bootstrap-datepicker/css/datepicker.css'
                '@SuperBaseBundle/Resources/public/assets/bootstrap-colorpicker/css/colorpicker.css'
                '@SuperBaseBundle/Resources/public/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css'
                '@SuperBaseBundle/Resources/public/css/owl.carousel.css'
                '@SuperBaseBundle/Resources/public/assets/bootstrap-daterangepicker/daterangepicker.css'
                '@SuperBaseBundle/Resources/public/assets/DataTables-1.10.5/media/css/dataTables.responsive.nightly.css'
                '@SuperBaseBundle/Resources/public/assets/DataTables-1.10.5/media/css/jquery.dataTables.min.css'
                '@SuperBaseBundle/Resources/public/css/slidebars.css'
                '@SuperBaseBundle/Resources/public/css/style.css'
                '@SuperBaseBundle/Resources/public/css/style-responsive.css'
                '@SuperBaseBundle/Resources/public/assets/fancybox/source/jquery.fancybox.css'
                '@SuperBaseBundle/Resources/public/css/bootstrap-fileupload.css'
                '@SuperBaseBundle/Resources/public/css/toastr.css'
                '@SuperBaseBundle/Resources/public/assets/jquery-multi-select/css/multi-select.css'
                '@SuperBaseBundle/Resources/public/assets/morris.js-0.4.3/morris.css'
                filter='cssrewrite'
                output='css/super/main.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% javascripts
            '@SuperBaseBundle/Resources/public/js/html5shiv.js'
            '@SuperBaseBundle/Resources/public/js/jquery.js'
            '@SuperBaseBundle/Resources/public/js/bootstrap.min.js'
            '@SuperBaseBundle/Resources/public/js/jquery.dcjqaccordion.2.7.js'
            '@SuperBaseBundle/Resources/public/assets/bootstrap-datepicker/js/bootstrap-datepicker.js'
            '@SuperBaseBundle/Resources/public/js/jquery.scrollTo.min.js'
            '@SuperBaseBundle/Resources/public/js/jquery.nicescroll.js'
            '@SuperBaseBundle/Resources/public/js/jquery.validate.min.js'
            '@SuperBaseBundle/Resources/public/js/respond.min.js'
            '@SuperBaseBundle/Resources/public/assets/DataTables-1.10.5/media/js/jquery.dataTables.min.js'
            '@SuperBaseBundle/Resources/public/assets/DataTables-1.10.5/media/js/dataTables.responsive.nightly.min.js'
            '@SuperBaseBundle/Resources/public/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js'
            '@SuperBaseBundle/Resources/public/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js'
            '@SuperBaseBundle/Resources/public/assets/jquery-multi-select/js/jquery.multi-select.js'
            '@SuperBaseBundle/Resources/public/js/grid.js'
            '@SuperBaseBundle/Resources/public/js/slidebars.min.js'
            '@SuperBaseBundle/Resources/public/js/bootstrap-fileupload.js'
            '@SuperBaseBundle/Resources/public/js/advanced-form-components.js'
            '@SuperBaseBundle/Resources/public/js/toastr.js'
            '@SiteBundle/Resources/public/assets/js/bootstrap-inputmask/bootstrap-inputmask.js'
            '@SiteBundle/Resources/public/app/js/mask.js'
            '@SiteBundle/Resources/public/app/js/validate.js'
            '@SiteBundle/Resources/public/app/js/address.js'
            output='js/super/main.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <section id="container" class="">
            <header class="header white-bg">
                <div class="sidebar-toggle-box">
                    <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
                </div>
                <a href="#" class="logo">
                    FIDELIDADE
                </a>
                <div class="nav notify-row" id="top_menu">
                </div>
                <div class="top-nav ">
                    <ul class="nav pull-right top-menu">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <img alt="" src="{{ asset('bundles/superbase/img/avatar-mini2.jpg') }}">
                                <span class="username">
                                    {{ app.security.getToken().getUser().getIdPessoa().getNoPessoa(true) }}
                                </span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <div class="log-arrow-up"></div>
                                <li><a href="{{ path('logout') }}"><i class="fa fa-cog"></i> Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </header>
            <aside>
                <div id="sidebar" class="nav-collapse ">
                    {% include "SuperBaseBundle::menu.html.twig" %}
                </div>
            </aside>
            <section id="main-content">
                <section class="wrapper">
                    {% if(app.session.flashbag.peekAll|length) %}
                        {% for label, flashes in app.session.flashbag.all %}
                            <div class="alert alert-block alert-{{ label|replace({'error': 'danger'}) }} fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert">
                                    <i class="fa fa-times"></i>
                                </button>
                                {% for flash in flashes %}
                                    {{ flash }}<br/>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-12">
                            {% block body %}
                            {% endblock %}
                        </div>
                    </div>
                </section>
            </section>
            <footer class="site-footer">
                <div class="text-center">
                    2015 &copy; Fidelidade
                    <a href="#" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
        </section>
        {% block javascripts %}
            {% javascripts
                '@SuperBaseBundle/Resources/public/js/common-scripts.js'
                output='js/super/common.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>