<li class="sub-menu">
    <a href="{{ path('super_home') }}">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
    </a>
</li>

<li class="sub-menu">
    <a href="{{ path('super_franqueador_index') }}">
        <i class="fa fa-user"></i>
        <span>Gerenciar Franqueador</span>
    </a>
</li>

<li class="sub-menu">
    <a href="{{ path('super_franquia_index_super') }}">
        <i class="fa fa-sitemap"></i>
        <span>Gerenciar Franquias</span>
    </a>
</li>

<li class="sub-menu">
    <a href="{{ path('super_faq_index') }}">
        <i class="fa fa-info-circle"></i>
        <span>FAQ</span>
    </a>
</li>

<li class="sub-menu">
    <a href="{{ path('super_ftp_index') }}">
        <i class="fa fa-cloud"></i>
        <span>Configuração FTP</span>
    </a>
</li>