<li class="sub-menu">
    <a href="{{ path('super_franqueador_dashboard') }}">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
    </a>
</li>
<li class="sub-menu">
    <a href="javascript:;">
        <i class="fa fa-user"></i>
        <span>Gerenciar Franquias</span>
    </a>
    {#<ul class="sub">#}
        {#<li><a href="{{ path('super_usuario_index') }}">Usuários</a></li>#}
    {#</ul>#}
    {#<ul class="sub">#}
        {#<li><a href="{{ path('super_operador_index') }}">Operadores</a></li>#}
    {#</ul>#}
    <ul class="sub">
        <li><a href="{{ path('super_franquia_index', {idFranqueador: app.user.getIdUsuario()}) }}">Franqueados</a></li>
    </ul>
</li>
<li class="sub-menu">
    <a href="{{ path('super_franqueador_mapa') }}">
        <i class="fa fa-map-marker"></i>
        <span>Geolocalização</span>
    </a>
</li>
<li class="sub-menu">
    <a href="javascript:;">
        <i class="fa fa-user"></i>
        <span>Gerenciar Enquete</span>
    </a>
    <ul class="sub">
        <li><a href="{{ path('manter_enquete_index') }}">Manter Enquete</a></li>
        <li><a href="{{ path('manter_enquete_index') }}">Relatórios Enquete</a></li>
    </ul>
</li>
<li class="sub-menu">
    <a href="{{ path('super_franqueador_pesquisa') }}">
        <i class="fa fa-search"></i>
        <span>Relatório</span>
    </a>
</li>
<li class="sub-menu">
    <a href="#">
        <i class="fa fa-bar-chart-o"></i>
        <span>Gerenciar Transações</span>
    </a>
</li>
<li class="sub-menu dcjq-parent-li">
    <a href="javascript:;" class="dcjq-parent">
        <i class="fa fa-comment"></i>
        <span>Gerenciar Feedback</span>
        <span class="dcjq-icon"></span></a>
    <ul class="sub" style="display: none;">
        <li><a href="{{ path('super_franqueador_feedback_index') }}">Manter Feedback</a></li>
        <li><a href="{{ path('super_franqueador_feedback_email') }}">Personalizar E-mail</a></li>
        <li><a href="#">Relatório Feedback</a></li>
    </ul>
</li>