{% extends 'SuperBaseBundle::layout.html.twig' %}
{% block body %}
    <section class="panel">
        <header class="panel-heading">
            Editar Promoção
              <span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
              </span>
        </header>
        <div class="panel-body">
            <form method="post" id="form-cadastro" class="form-horizontal tasi-form" enctype="multipart/form-data">
                <input type="hidden" name="idPromocao" value="{{ entity.idPromocao }}">

                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Nome</label>

                    <div class="col-lg-9">
                        <input type="text" class="form-control required" id="noPromocao" name="noPromocao"
                               value="{{ entity.noPromocao }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Descrição</label>

                    <div class="col-lg-9">
                        <textarea class="form-control required" id="dsPromocao"
                                  name="dsPromocao"> {{ entity.dsPromocao }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtData" class="control-label col-md-3">Data de Validade</label>

                    <div class="col-md-3">
                        {{ formText('dtValidade', entity.getDtValidade()|date("d/m/Y"), {id:"datepicker", class: 'form-control required', placeholder:"Validade"}) }}
                        <span class="help-block">DD/MM/AAAA</span>
                    </div>
                </div>

                <div class="form-group last">
                    <label class="control-label col-md-3">Arquivo</label>

                    <div class="col-md-9">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                {% if entity.getNoImagem() %}
                                    <img src="{{ entity.getNoImagem() }}" alt=""/>
                                {% else %}
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
                                {% endif %}
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail"
                                 style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                            <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Selecionar imagem</span>
                                                <span class="fileupload-exists"><i
                                                            class="fa fa-undo"></i> Alterar</span>
                                                <input type="file" name="noImagem" id="noImagem" accept="image/*">
                                            </span>
                            </div>
                            <div class="alert alert-info" role="alert" style="margin-top: 10px">
                                <strong>Atenção!:</strong> Tamanho da Imagem: 1200px X 500px
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Situação</label>

                    <div class="col-lg-9">
                        <select class="form-control required" id="stAtivo" name="stAtivo">
                            {% if entity.stAtivo == 1 %}
                                <option value="1">Ativo</option>
                                <option value="0">Inativo</option>
                            {% else %}
                                <option value="0">Inativo</option>
                                <option value="1">Ativo</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Salvar
                        </button>

                        <a href="{{ path('manter_promocao_index') }}" class="btn btn-default">
                            <i class="fa fa-times"></i>
                            Cancelar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}
