<form method="post" id="form-franquia" class="cmxform form-horizontal tasi-form" novalidate="novalidate">
    {{ formHidden('idFranqueador', idFranqueador ?: entity.getIdFranqueador().getIdFranqueador()) }}
    {{ formHidden('idFranquia', entity.getIdFranquia()) }}
    {{ formHidden('idEndereco', entity.getIdEndereco().getIdEndereco()) }}
    {{ formHidden('idUsuario', entity.getIdUsuario().getIdUsuario()) }}
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="noFranquia">Nome Franqueado</label>
        <div class="col-lg-10">
            <input type="text" class="form-control required" id="noFranquia" placeholder="Nome Franqueado"
                   name="noFranquia" value="{{ entity.getNoFranquia() }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="noPessoa">Nome Franqueado</label>
        <div class="col-lg-10">
            <input type="text" class="form-control required" id="noPessoa" placeholder="Nome Responsável"
                   name="noPessoa" value="{{ entity.getIdUsuario().getIdPessoa().getNoPessoa() }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">CPF Responsável</label>

        <div class="col-lg-10">
            <input type="text" class="form-control required cpf" id="nuCpf" placeholder="CPF Responsável" data-mask="cpf"
                   name="nuCpf" value="{{ entity.getIdUsuario().getIdPessoa().getIdPessoaFisica().getNuCpf() }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">E-mail Responsável</label>
        <div class="col-lg-10">
            <input type="email" class="form-control required" id="noEmail" placeholder="E-mail Responsável"
            name="noEmail" value="{{ entity.getIdUsuario().getIdPessoa().getIdPessoaFisica().getNoEmail() }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Código da Loja</label>
        <div class="col-lg-10">
            <input type="text" class="form-control required number" id="nuCodigoLoja" placeholder="Número do código da loja (processado no arquivo)"
                   name="nuCodigoLoja" value="{{ entity.getNuCodigoLoja() }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="nuCep">CEP do franqueado</label>
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control required cep" id="nuCep" placeholder="CEP do franqueado"
                       name="nuCep" data-mask="99999-999" value="{{ entity.getIdEndereco().getNuCep() }}">
                <span class="input-group-btn">
                    <button class="btn btn-primary buscarCep" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="idEstado">Estado</label>
        <div class="col-lg-10">
            {{ formSelect('idEstado', arrEstado, {'class': 'form-control required'}, cmbEstado ) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="idMunicipio">Município</label>
        <div class="col-lg-10">
            {{ formSelect('idMunicipio', arrMunicipio, {'class': 'form-control required'}, cmbMunicipio ) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="idBairro">Bairro</label>
        <div class="col-lg-10">
            {{ formSelect('idBairro', arrBairro, {'class': 'form-control required'}, cmbBairro ) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="nuRua">Rua</label>
        <div class="col-lg-10">
            <input type="text" class="form-control required" id="noLogradouro" placeholder="Rua"
                   name="noLogradouro" value="{{ entity.getIdEndereco().getNoLogradouro() }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="nuEndereco">Número endereço</label>
        <div class="col-lg-10">
            <input type="text" class="form-control required number" id="nuEndereco" placeholder="Número endereco"
                   name="nuEndereco" value="{{ entity.getIdEndereco().getNuEndereco() }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="noComplemento">Complemento</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="noComplemento" placeholder="Complemento"
                   name="noComplemento" value="{{ entity.getIdEndereco().getNoComplemento() }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="noEnderecoAmigavel">Endereço amigável</label>
        <div class="col-lg-10">
            <input type="text" class="form-control required" id="noEnderecoAmigavel" placeholder="Endereço amigavel"
                   name="noEnderecoAmigavel" value="{{ entity.getIdEndereco().getNoEnderecoAmigavel() }}">
        </div>
    </div>
    <div id="apresentacao">
        <fieldset>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">
                    <p type="button" id="btnEndereco" href="#"  name="btnEndereco" class="btn btn-primary">
                        Buscar
                    </p>
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  id="txtEndereco" name="txtEndereco" placeholder="Local">
                </div>
            </div>
            <div id="mapa"></div>
            <input type="hidden" id="txtLatitude" name="noLatitude" value="{{ entity.getIdEndereco().getNoLatitude() }}" />
            <input type="hidden" id="txtLongitude" name="noLongitude" value="{{ entity.getIdEndereco().getNoLongitude() }}" />
        </fieldset>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="idCardapio">Cardápio</label>
        <div class="col-lg-10">
            {{ formSelect('', arrCardapio, {'class': 'form-control required', 'id': 'idCardapio', 'name': 'idCardapio'}, cmbCardapio) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="idPromocao">Promoção</label>
        <div class="col-lg-10">
            {{ formSelect('', arrPromocao, {'class': 'multi-select', 'multiple': 'multiple', 'id': 'idPromocao', 'name': 'idPromocao[]'}, cmbPromocao) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label col-lg-2" for="idSituacao">Situação</label>
        <div class="col-lg-10">
            {{ formSelect('', arrSituacao, {'class': 'form-control required', 'id': 'stAtivo', 'name': 'stAtivo'}, cmbSituacao) }}
        </div>
    </div>
    <div class="form-group">
        <br>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Salvar
        </button>
        <a type="button" href = "{{ path('super_franquia_index') }}" class="btn btn-danger">
            Cancelar
        </a>
    </div>
</form>

<script>
    var LATITUDE  = {{ entity.getIdEndereco().getNoLatitude() ?: -15.7940 }};
    var LONGITUDE = {{ entity.getIdEndereco().getNoLongitude() ?: -47.8827 }};
</script>