{% extends 'SuperBaseBundle::layout.html.twig' %}
{% block body %}
    <section class="panel">
        <header class="panel-heading">
            Pesquisar Transação
              <span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
              </span>
        </header>
        <div class="panel-body">
            <form method="post" action=" " id="form-franquia" class="form-horizontal tasi-form">
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">CPF</label>

                    <div class="col-lg-4">
                        <input type="text" class="form-control " id="noFranquia" placeholder="" name="cpf" value="" mask="999.999.999-99">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Data</label>

                    <div class="col-lg-2">
                        <input type="text" class="form-control " id="dtCadastro" placeholder="" name="dtCadastro" value=""
                               mask="99/99/9999">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Tipo de Transação</label>

                    <div class="col-lg-2">
                        {{ formSelect('idTipoTransacao', '', {
                            class: 'form-control'
                        },
                        {
                            '': 'Selecione',
                            1: 'Crédito',
                            2: 'Débito'
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                            Pesquisar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading">
            Resultado da pesquisa
            <a href="javascript:;" class="btn btn-warning btn-xs exportExcel" style="float:right; margin-right: 5px;">
                <i class="fa fa-file-text"></i>
                Exportar em Excel
            </a>
        </header>
        <div class="panel-body" id="grid">
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed" data-grid="form-franquia">
                    <thead>
                    <tr>
                        <th data-column="noPessoa">Usuário</th>
                        <th data-column="nuCpf">CPF</th>
                        <th data-column="nuValor">Valor</th>
                        <th data-column="dtCadastro">Data</th>
                        <th data-column="noTipoTransacao">Tipo Transação</th>
                        <th data-column="stAtivo">Situação</th>
                        <th data-column="opcoes">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd">
                        <td valign="top" colspan="7">Acione a pesquisa</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </section>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="justificativa" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('super_franquia_transacao') }}" class="form-horizontal tasi-form"
                          id="form-justificativa">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="noPessoa">Nome</label>

                            <div class="col-md-6 col-xs-11">
                                {{ formText('noPessoa', '', {
                                    class: 'form-control form-control-inline input-medium',
                                    disabled: 'disabled'
                                }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="nuCpf">CPF</label>

                            <div class="col-md-6 col-xs-11">
                                {{ formText('nuCpf', '', {
                                    class: 'form-control form-control-inline input-medium',
                                    disabled: 'disabled'
                                }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="nuValor">Valor</label>

                            <div class="col-md-6 col-xs-11">
                                {{ formText('nuValor', '', {
                                    class: 'form-control form-control-inline input-medium',
                                    disabled: 'disabled'
                                }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="dsJustifitiva">Justificativa</label>

                            <div class="col-md-6 col-xs-11">
                                {{ formHidden('stAtivo', '') }}
                                {{ formHidden('idTransacao', '') }}
                                {{ formTextarea('dsJustificativa', '', {
                                    class: 'required form-control form-control-inline input-medium',
                                    rows: 4
                                }) }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Salvar</button>
                            <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.exportExcel').click(function () {
                window.location = window.location.href + '?sEcho=&export=excel&' + $('form:first').serialize()
            })
        })
    </script>
{% endblock body %}