{% extends 'SuperBaseBundle::layout.html.twig' %}
{% block body %}
    <section class="panel">
        <header class="panel-heading">
            {{ cardapio.noCardapio|capitalize }}

            <nav class="pull-right voltarPagina">
                <ul class="pager">
                    <li class="previous"><a href="{{ path('manter_cardapio_index') }}"><span aria-hidden="true">&larr;</span> Voltar</a></li>
                </ul>
            </nav>
        </header>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                </tr>
                </thead>
                <tbody>
                {% for produto in cardapio.idProduto %}
                    <tr>
                        {% if produto.noImagem != "" %}
                            <td><img width="50" src="{{ produto.noImagem }}"></td>
                        {% else %}
                            <td><img width="50" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=Sem+imagem"
                                     alt=""/></td>
                        {% endif %}
                        <td>{{ produto.noProduto|capitalize }}</td>
                        <td>{{ produto.dsProduto }}</td>
                        <td>R$: {{ produto.nuValor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock body %}
