{% extends 'SuperBaseBundle::layout.html.twig' %}
{% block body %}

    {% set totalBonus = 0 %}
    {% for bonus in entity.getIdBonus() %}
        {% if bonus.getStAtivo() == true and bonus.getStVencido == false %}
            {% set totalBonus = totalBonus + bonus.getNuBonus() %}
        {% endif %}
    {% endfor %}

    <div class="row">
        <aside class="profile-nav col-lg-3">
            <section class="panel">
                <div class="user-heading round">
                    <a href="#">
                        <img src="{{ asset('bundles/superbase/img/avatar-mini2.jpg') }}" alt="">
                    </a>

                    <h1>{{ entity.getIdUsuario().getIdPessoa().getNoPessoa() }}</h1>

                    <p>{{ entity.getIdUsuario().getIdPessoa().getIdPessoaFisica().getNoEmail() }}</p>

                    {% set cpf = entity.getIdUsuario().getIdPessoa().getIdPessoaFisica().getNuCpf()|slice(0, 3) ~ '.' %}
                    {% set cpf = cpf ~ entity.getIdUsuario().getIdPessoa().getIdPessoaFisica().getNuCpf()|slice(3, 3) ~ '.' %}
                    {% set cpf = cpf ~ entity.getIdUsuario().getIdPessoa().getIdPessoaFisica().getNuCpf()|slice(6, 3) ~ '-' %}
                    {% set cpf = cpf ~ entity.getIdUsuario().getIdPessoa().getIdPessoaFisica().getNuCpf()|slice(9) %}
                    <p>CPF: {{ cpf }}</p>

                    <p></p>

                    <p></p>
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#" class="transacao"> <i class="fa fa-bar-chart-o"></i> Transações
                            <span class="label label-danger pull-right r-activity">
                                {{ entity.getIdUsuario().getIdTransacao()|length }}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bonus"> <i class="fa fa-trophy"></i> Pontos
                            <span class="label label-danger pull-right r-activity">
                                {{ totalBonus }}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="franquia"> <i class="fa fa-sitemap"></i> Franquias
                        </a>
                    </li>
                    <li>
                        <a href="#" class="comentario"> <i class="fa fa-comment"></i> Comentários
                            <span class="label label-danger pull-right r-activity">
                                {{ entity.getIdFranqueadorComentario()|length }}
                            </span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>

        <aside class="profile-info col-lg-9 hide" id="transacao">
            <section class="panel">
                <header class="panel-heading bio-graph-heading">
                    <h4>Transações</h4>
                </header>
                <div class="panel-body bio-graph-info">
                    <div class="row">
                        <div class="bio-row">
                            <p><b>Franquia mais visitada:</b> {{ franquia }}</p>
                        </div>
                        <div class="bio-row">
                            <p><b>Total em créditos:</b> R${{ creditos|number_format(2, ',', '.') }}</p>
                        </div>

                        <div class="bio-row">
                            {% set totalConsumo = 0 %}
                            {% set totalTransacao = 0 %}
                            {% for transacao in entity.getIdUsuario().getIdTransacao() %}
                                {% if transacao.getIdArquivo() %}
                                    {% set totalConsumo = totalConsumo + transacao.getIdArquivo().getNuValor() %}
                                    {% set totalTransacao = totalTransacao +1 %}
                                {% endif %}
                            {% endfor %}

                            <p><b>Média de consumo:</b>
                                {% if totalConsumo %}
                                    R$ {{ totalConsumo / totalTransacao|number_format(2, ',', '.') }}
                                {% else %}
                                    R$ 0,00
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                            </header>
                            <div class="panel-body">
                                <div class="adv-table">
                                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                        <div class="row-fluid">
                                        </div>
                                        <table id="dynamic-table"
                                               class="display table table-bordered table-striped dataTable">
                                            <thead>
                                            <tr role="row">
                                                <th>Tipo Transação</th>
                                                <th>Franquia</th>
                                                <th>Operador</th>
                                                <th>Valor Original</th>
                                                <th>Valor Crédito</th>
                                                <th>Data</th>
                                                <th>Situação</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for transacao in entity.getIdUsuario().getIdTransacao() %}
                                                <tr class="">
                                                    <td class="">
                                                        {{ transacao.getIdTipoTransacao().getNoTipoTransacao() }}
                                                    </td>
                                                    <td class="">
                                                        {% if transacao.getIdOperador() and transacao.getIdOperador().getIdFranquia() %}
                                                            {{ transacao.getIdOperador().getIdFranquia().getNoFranquia() }}
                                                        {% endif %}
                                                    </td>
                                                    <td class="">
                                                        {% if transacao.getIdOperador() %}
                                                            {{ transacao.getIdOperador().getIdPessoa().getNoPessoa() }}
                                                        {% endif %}
                                                    </td>
                                                    <td class="">
                                                        {% if transacao.getIdArquivo() %}
                                                            R$ {{ transacao.getIdArquivo().getNuValor()|number_format(2, ',', '.') }}
                                                        {% else %}
                                                            R$ 0,00
                                                        {% endif %}
                                                    </td>
                                                    <td class="">
                                                        R$ {{ transacao.getNuValor()|number_format(2, ',', '.') }}
                                                    </td>
                                                    <td class="">
                                                        {{ transacao.getDtCadastro()|date('d/m/Y H:i:s') }}
                                                    </td>
                                                    <td class="">
                                                        {% if transacao.getStAtivo() %}
                                                            Aprovado
                                                        {% else %}
                                                            Cancelado
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </aside>

        <aside class="profile-info col-lg-9 hide" id="bonus">
            <section class="panel">
                <header class="panel-heading bio-graph-heading">
                    <h4>Pontos</h4>
                </header>
                <div class="panel-body bio-graph-info">
                    <div class="row">
                        <div class="bio-row">
                            <p><b>Total Pontos:</b> {{ totalBonus }}</p>
                        </div>
                        <div class="bio-row">
                            <p><b>Total em créditos:</b> R${{ creditos|number_format(2, ',', '.') }}</p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                            </header>
                            <div class="panel-body">
                                <div class="adv-table">
                                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                        <div class="row-fluid">
                                        </div>
                                        <table id="dynamic-table"
                                               class="display table table-bordered table-striped dataTable">
                                            <thead>
                                            <tr role="row">
                                                <th>Pontos</th>
                                                <th>Data</th>
                                                <th>Situação</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for bonus in entity.getIdBonus() %}
                                                <tr class="">
                                                    <td class="">
                                                        {{ bonus.getNuBonus() }}
                                                    </td>
                                                    <td class="">
                                                        {{ bonus.getDtCadastro()|date('d/m/Y H:i:s') }}
                                                    </td>
                                                    <td class="">
                                                        {% if bonus.getStAtivo() %}
                                                            Aprovado
                                                        {% else %}
                                                            Cancelado
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </aside>

        <aside class="profile-info col-lg-9 hide" id="comentario">
            <section class="panel">
                <header class="panel-heading summary-head">
                    <h4>Comentários</h4>
                </header>
                <div class="panel-body profile-activity">
                    <h5 class="pull-right">{{ 'now'|date('d/m/Y') }}</h5>
                    {% for comentario in entity.getIdFranqueadorComentario() %}
                        {% if comentario.getIdFranqueadorComentarioUsuario()|round % 2 == 0 %}
                            {% set class = 'alt purple' %}
                        {% else %}
                            {% set class = 'terques' %}
                        {% endif %}
                        <div class="activity {{ class }}">
                                  <span>
                                      <i class="fa fa-comment"></i>
                                  </span>

                            <div class="activity-desk">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="arrow"></div>
                                        <i class=" fa fa-time"></i>
                                        <h4>{{ comentario.getDtCadastro()|date('d/m/Y H:i:s') }}</h4>

                                        <p>{{ comentario.getDsComentario() }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <section class="panel">
                <form action="{{ path('super_franqueador_comentario_cliente_view', {
                    idFranqueador: entity.getIdFranqueador().getIdFranqueador(),
                    idUsuario: entity.getIdUsuario().getIdUsuario(),
                }) }}" method="post">
                    {{ formTextarea('dsComentario', '', {
                        class: 'form-control input-lg p-text-area',
                        rows: 2,
                        placeholder: 'Comente sobre esse usuário, digite aqui seu comentário'
                    }) }}

                    <footer class="panel-footer">
                        <a href="{{ path('super_franqueador_comentario_cliente') }}" class="btn btn-primary pull-right"
                           style="margin-left: 10px !important;">Voltar</a>
                        <button class="btn btn-danger pull-right">Comentar</button>
                        <ul class="nav nav-pills">
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </footer>
                </form>
            </section>
        </aside>

        <aside class="profile-info col-lg-9" id="franquia">
            <section class="panel">
                <header class="panel-heading bio-graph-heading">
                    <h4>Franquias</h4>
                </header>
                <div class="panel-body bio-graph-info">
                    <div class="row">
                        <div class="bio-row">
                            <p><b>Total em créditos:</b> R${{ creditos|number_format(2, ',', '.') }}</p>
                        </div>
                        <div class="bio-row">
                            <p><b>Franquia mais visitada:</b> {{ franquia }}</p>
                        </div>

                        <div class="bio-row">
                            {% set totalConsumo = 0 %}
                            {% set totalTransacao = 0 %}
                            {% for transacao in entity.getIdUsuario().getIdTransacao() %}
                                {% if transacao.getIdArquivo() %}
                                    {% set totalConsumo = totalConsumo + transacao.getIdArquivo().getNuValor() %}
                                    {% set totalTransacao = totalTransacao +1 %}
                                {% endif %}
                            {% endfor %}

                            <p><b>Média de consumo:</b>
                                {% if totalConsumo %}
                                    R$ {{ totalConsumo / totalTransacao|number_format(2, ',', '.') }}
                                {% else %}
                                    R$ 0,00
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <form class="form-horizontal tasi-form" method="post">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Acrescentar pontos</label>
                            <div class="col-lg-3">
                                <input name="addPontos" type="number" class="form-control" id="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Acrescentar créditos</label>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input name="addBonus" type="text" mask="decimal" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-usd"></i>
                            Acrescentar
                        </button>
                    </form>
                    <section class="panel">
                        <header class="panel-heading">
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="row-fluid">
                                    </div>
                                    <table id="dynamic-table"
                                           class="display table table-bordered table-striped dataTable">
                                        <thead>
                                        <tr role="row">
                                            <th>Franquia</th>
                                            <th>Visitas</th>
                                            <th>Total gasto</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% set arrFranquia = [] %}
                                        {% for transacao in entity.getIdUsuario().getIdTransacao() %}
                                            {% if transacao.getIdArquivo() %}
                                                {% if transacao.getIdFranquia().getIdFranquia() in arrFranquia == false %}
                                                    {% set arrFranquia = arrFranquia|merge([transacao.getIdFranquia().getIdFranquia()]) %}
                                                    <tr class="">
                                                        <td class="">
                                                            {{ transacao.getIdFranquia().getNoFranquia() }}
                                                        </td>
                                                        <td class="">
                                                            {% set total = 0 %}
                                                            {% for franquia in entity.getIdUsuario().getIdTransacao() %}
                                                                {% if franquia.getIdArquivo()
                                                                and transacao.getIdFranquia().getIdFranquia() == franquia.getIdFranquia().getIdFranquia() %}
                                                                    {% set total = total + 1 %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {{ total }}
                                                        </td>
                                                        <td class="">
                                                            {% set totalGasto = 0 %}
                                                            {% for franquia in entity.getIdUsuario().getIdTransacao() %}
                                                                {% if franquia.getIdArquivo()
                                                                and transacao.getIdFranquia().getIdFranquia() == franquia.getIdFranquia().getIdFranquia() %}
                                                                    {% set totalGasto = totalGasto + franquia.getIdArquivo().getNuValor() %}
                                                                {% endif %}
                                                            {% endfor %}

                                                            R$ {{ totalGasto|number_format(2, ',', '.') }}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </aside>
    </div>

    <script>
        $(document).ready(function () {
            $('.transacao').click(function () {
                $('#transacao').removeClass('hide')
                $('#comentario, #bonus, #franquia').addClass('hide')
            })

            $('.comentario').click(function () {
                $('#comentario').removeClass('hide')
                $('#transacao, #bonus, #franquia').addClass('hide')
            })

            $('.bonus').click(function () {
                $('#bonus').removeClass('hide')
                $('#transacao, #comentario, #franquia').addClass('hide')
            })

            $('.franquia').click(function () {
                $('#franquia').removeClass('hide')
                $('#transacao, #comentario, #bonus').addClass('hide')
            })

            $('table[id=dynamic-table]').dataTable({
                "bPaginate": false,
                "bFilter": false,
                "bInfo": false
            });

            var ant = 0

            $('table:last tbody tr td:nth-child(2)').each(function(){
                if(parseInt($.trim($(this).html())) > ant){
                    ant = parseInt($.trim($(this).html()))

                    console.log($(this).parent('tr').find('td:first').html())
                    $('aside#franquia div.bio-row:nth-child(2) p').html('<b>Franquia mais visitada: </b>' + $(this).parent('tr').find('td:first').html())
                }
            })
        });

    </script>
{% endblock body %}