<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="{{ asset('bundles/superbase/img/favicon.png') }}">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/superbase/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/superbase/css/bootstrap-reset.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset('bundles/superbase/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/superbase/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/superbase/css/style-responsive.css') }}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/superbase/js/html5shiv.js') }}"></script>
    <![endif]-->

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/superbase/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/superbase/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/superbase/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/superbase/assets/bootstrap-inputmask/bootstrap-inputmask.js') }}"></script>

    <script src="{{ asset('bundles/superbase/app/js/mask.js') }}"></script>
    <script src="{{ asset('bundles/superbase/app/js/validate.js') }}"></script>

</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Entrar</h2>

        <div class="login-wrap">
            {% if error %}
                <div class="alert alert-block alert-danger fade in">
                    <button type="button" class="close close-sm" data-dismiss="alert">
                        <i class="fa fa-times"></i>
                    </button>
                    E-mail / senha inválidos.
                </div>
            {% endif %}

            {{ formText('_username', '', {
                class: 'form-control required cpf',
                placeholder: 'Seu CPF',
                autofocus:'',
                'data-mask': 'cpf'
            }) }}
            {{ formPassword('_password', '', {class: 'form-control required', placeholder: 'Sua senha'}) }}
            <label class="checkbox">
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Esqueceu sua senha?</a>
                </span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">Entrar</button>
        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Esqueceu sua senha?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Entre com seu e-mail abaixo para resetar sua senha.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                        <button class="btn btn-success" type="button">Recuperar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
    </form>
</div>
</body>
</html>