{% extends 'SiteBundle::layout.html.twig' %}

{% block body %}

<script>
    $(document).ready(function(){

        function trocarName(pai,novaclass)
        {
            $(".formAlerta").children("."+pai).children().attr("name",novaclass);
        }
        trocarName("estado","idEstado");
        trocarName("tipoAnuncio","idTipoAnuncio");
        trocarName("municipio","idMunicipio");
        trocarName("bairro","idBairro");
        trocarName("tipo_imovel","idTipoImovel");
    });
</script>



    <div class="gsearch">
        <div class="container">
            <div class="gsearch-wrap">
                <form class="gsearchform" method="get" role="search" action="{{ path('site_buscar_anuncio') }}">
                    <div class="gsearch-content">
                        <div class="gsearch-field">
                            <div class="form-group glocation">
                                <div class="label-select">
                                    {{ '' |estados|raw }}
                                </div>
                            </div>

                            <div class="form-group gsub-location">
                                <div class="label-select">
                                    {{ app.session.get('idEstado') |municipios|raw }}
                                </div>
                            </div>

                            <div class="form-group gstatus">
                                <div class="label-select">
                                    {{ '' |tipoAnuncio|raw }}
                                </div>
                            </div>

                            <div class="form-group gtype">
                                <div class="label-select">
                                    <select class="form-control" id="bairro" name="bairro">
                                        <option value="">Todos os bairros</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group gbed">
                                <div class="label-select">
                                    {{ '' |tipoImovel|raw }}
                                </div>
                            </div>

                            <div class="form-group gbath">
                                <div class="label-select">
                                    <select class="form-control" name="qtQuartos">
                                        <option>Quartos</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group gbath">
                                <input type="text" name="precoDe" class="form-control input-de precoDe"
                                       mask="99.999.999" size="100"
                                       placeholder="Preço de"/>
                                <input type="text" name="precoAte" class="form-control input-ate precoAte"
                                       mask="99.999.999" size="40"
                                       placeholder="Preço ate"/>
                            </div>

                            <div class="form-group gbath">
                                <input type="text" name="areaDe" class="form-control input-de areaDe"
                                       mask="99.999" size="100"
                                       placeholder="Área de"/>
                                <input type="text" name="areaAte" class="form-control input-ate areaAte"
                                       mask="99.999" size="40"
                                       placeholder="Área ate  "/>
                            </div>

                            <section>
                                <div class="form-group gbath">
                                    <div class="label-select">
                                        <select class="form-control suites valid" name="qtSuites">
                                            <option>Suites</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>Mais</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gbath">
                                    <div class="label-select">
                                        <select class="form-control valid" name="qtGaragem">
                                            <option>Vagas</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>Mais</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gbath">
                                    <input type="text" name="endereco" class="form-control" size="40"
                                           placeholder="Palavra chave">
                                </div>

                                <div class="form-group gbath">
                                    <input type="text" name="nuCodigo" class="form-control " mask="numeric"
                                           size="40"
                                           placeholder="Código do Imóvel">
                                </div>
                            </section>
                        </div>

                        <div class="gsearch-action">
                            <div class="gsubmit">
                                <a class="btn btn-deault" href="#">Cadastrar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12  col-md-12">
                        <a href="#"><i class="fa fa-search"></i> Busca avançada</a>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <label>
                            <input name="stParticular" type="checkbox"> Somente Imóveis de particulares
                        </label>

                        <label>
                            <input name="stImovelPronto" type="checkbox"> Somente Imóveis prontos
                        </label>

                        <label>
                            <input name="stImovelConstrucao" type="checkbox"> Somente Imóveis em construção
                        </label>

                        <label>
                            <input name="menoValor" type="checkbox"> Aceitar Imóvel de menor valor
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {
        // JS of Denisson
        $(".gsearch-wrap .gsearchform .col-xs-12 a").click(function () {
            var buscaAvancada = $('.gsearch-wrap .gsearchform .gsearch-content .gsearch-field  section');
            if ($(".buscaAvancadaAtivado").size() == 1) {
                buscaAvancada.fadeOut();
                $(this).removeClass("buscaAvancadaAtivado");
            } else {
                buscaAvancada.fadeIn();
                $(this).toggleClass("buscaAvancadaAtivado");
            }
        });
    });
</script>
{% endblock %}