{% extends "SiteBundle::layout.html.twig" %}
{% block body %}

    <div class="container noo-mainbody">
        <div class="noo-mainbody-inner">
            <div class="row clearfix">
                <div class="noo-content col-xs-12 col-md-12 left-sidebar">
                    <div class="submit-header">
                        <h1 class="page-title">Cadastro do Imóvel</h1>
                        {% include "SiteBundle::messages.html.twig" %}
                    </div>

                    <div class="submit-content">
                        <form id="form-imovel" action="" method="post">
                            <div class="noo-control-group">
                                <div class="group-title">Escolha uma opção</div>
                                <div class="group-container row">
                                    <div class="pull-right">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <button type="button" class="btn btn-warning" id="vender">Vender</button>
                                            <button type="button" class="btn btn-warning" id="alugar">Alugar</button>
                                            <button type="button" class="btn btn-warning" id="alugar-temporada">Alugar por temporada
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="noo-control-group">
                                <div class="group-title">Dados do Imóvel</div>
                                <div class="group-container row">
                                    <div class="col-md-8 pf">
                                        <div class="form-group s-profile-facebook">
                                            <label for="facebook">Título</label>
                                            {{ formText({name: 'noTitulo'}, idAnuncio.getNoTitulo(), {class: 'form-control required ', placeholder:"Título"}) }}
                                        </div>
                                    </div>

                                    <div class="col-md-4 pf">
                                        <div class="form-group s-profile-google_plus">
                                            <label for="google_plus">Tipo do Imóvel</label>
                                            {{ formSelect({name: 'idTipoImovel'}, idImovel.getIdTipoImovel().getIdTipoImovel(), {class: 'form-control required'}, arrTpImovel) }}
                                            {{ formHidden({name: 'idImovel'}, idImovel.getIdImovel()) }}
                                            {{ formHidden({name: 'idTipoAnuncio'}, idAnuncio.getIdTipoAnuncio().getIdTipoAnuncio()) }}
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputEmail3"> Valor do aluguel</label>

                                            <div class="input-group">
                                                <span class="input-group-addon " id="basic-addon2">R$</span>
                                                {{ formText({name: 'nuValor'}, idImovel.getNuValor(), {
                                                    class: 'form-control  required',
                                                    mask: 'decimal',
                                                    placeholder: 'Valor do aluguel',
                                                }) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputEmail3"> Área Útil (m2)</label>

                                            <div class="input-group">
                                                {{ formText({name: 'nuAreaUtil'}, idImovel.getNuAreaUtil(), {
                                                    class: 'form-control areaUtil',
                                                    placeholder: 'Metros quadrados',
                                                    'data-mask': '99999999999'
                                                }) }}
                                                <span class="input-group-addon " id="basic-addon2">m²</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputEmail3">Posição do sol</label>

                                            {{ formSelect({name: 'tpPosicaoSol'}, idImovel.getTpPosicaoSol(), {class: 'form-control'}, arrPorDoSol) }}
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label for="inputEmail3">Quarto(s)</label>

                                                {{ formText({name: 'qtQuartos'}, idImovel.getQtQuartos(), {
                                                    class: 'form-control',
                                                    'data-mask': '99'
                                                }) }}
                                            </div>
                                        </div>

                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label for="inputEmail3">Suítes(s)</label>

                                                {{ formText({name: 'qtSuites'}, idImovel.getQtSuites(), {
                                                    class: 'form-control',
                                                    'data-mask': '99'
                                                }) }}
                                            </div>
                                        </div>

                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label for="inputEmail3">Banheiro(s) </label>

                                                {{ formText({name: 'qtBanheiros'}, idImovel.getQtBanheiros(), {
                                                    class: 'form-control ',
                                                    'data-mask': '99'
                                                }) }}
                                            </div>
                                        </div>

                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label for="inputEmail3">Lavabo(s)</label>

                                                {{ formText({name: 'qtLavabos'}, idImovel.getQtLavabos(), {
                                                    class: 'form-control ',
                                                    'data-mask': '99'
                                                }) }}
                                            </div>
                                        </div>

                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label for="inputEmail3">Garagem</label>

                                                {{ formText({name: 'qtGaragem'}, idImovel.getQtGaragem(), {
                                                    class: 'form-control ',
                                                    'data-mask': '99'
                                                }) }}
                                            </div>
                                        </div>

                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label for="inputEmail3">Andar</label>

                                                {{ formText({name: 'nuAndar'}, idImovel.getNuAndar(), {
                                                    class: 'form-control',
                                                    'data-mask': '99'
                                                }) }}
                                            </div>
                                        </div>

                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label for="inputEmail3">Andares(s)</label>

                                                {{ formText({name: 'qtAndares'}, idImovel.getQtAndares(), {
                                                    class: 'form-control',
                                                    'data-mask': '99'
                                                }) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="noo-content col-xs-12 col-md-8">
                                        <article class="property">
                                            <div class="property-feature">
                                                <h4 class="property-feature-title">Características do imóvel</h4>

                                                <div class="property-feature-content clearfix">
                                                    {% for caracteristica in arrCaracteristicaImovel %}
                                                        <div class="has">
                                                            {{ formCheckbox({name: 'caracteristica[]'}, caracteristica.idImovelCaracteristica, {class: 'form-control'}) }} {{ caracteristica.noImovelCaracteristica }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </article>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputEmail3">Descrição</label>

                                            {{ formTextarea({name: 'dsImovel'}, idImovel.getDsImovel(), {class: 'form-control required', placeholder: 'Uma breve descrição do seu anúncio', rows: '9'}) }}
                                        </div>
                                    </div>

                                    {#<div class="col-md-6">#}
                                    {#<div class="form-group">#}
                                    {#<label for="inputEmail3"> Vídeo</label>#}
                                    {#{{ formText({name: 'noImovelUrl'}, idImovel.getNoImovelUrl(), {class: 'form-control url', placeholder:"Vídeo"}) }}#}
                                    {#</div>#}
                                    {#</div>#}

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="galeria" name="galeria[]" type="file" multiple class="file-loading" accept="image/*">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="noo-control-group">
                                <div class="group-title">Endereço</div>
                                <div class="group-container row">


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputEmail3">CEP</label>

                                            <div class="input-group">
                                                {{ formText({name: 'nuCep'}, idEndereco.getNuCep(), {
                                                    class: 'form-control cepCadastrar required cep',
                                                    placeholder: 'CEP',
                                                    'data-mask': '99999-999'
                                                }) }}
                                                <span class="input-group-addon glyphicon glyphicon-search buscar-cep" id="basic-addon2"
                                                      style="cursor: pointer"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputEmail3">Estado (UF)</label>
                                            {{ formSelect({name: 'idEstado'}, idEndereco.getIdMuniciPio().getIdEstado().getIdEstado(), {class: 'form-control required'}, arrEstado) }}
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputEmail3">Cidade</label>
                                            {{ formSelect({name: 'idMunicipio'}, idEndereco.getIdMunicipio().getIdMunicipio(), {class: 'form-control'}, arrMunicipio) }}
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="inputEmail3">Endereço</label>
                                            {{ formText({name: 'noLogradouro'}, idEndereco.getNoLogradouro(), {class: 'form-control required ', placeholder:"Endereço"}) }}
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputEmail3">Bairro</label>
                                            {{ formSelect({name: 'idBairro'}, idEndereco.getIdBairro().getIdBairro(), {class: 'form-control'}, arrBairro) }}
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="inputEmail3">Número</label>
                                            {{ formText({name: 'nuEndereco'}, idEndereco.getNuEndereco(), {class: 'form-control required', placeholder:"Número", 'data-mask':"9999999999999"}) }}
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="inputEmail3">Complemento</label>
                                            {{ formText({name: 'noComplemento'}, idEndereco.getNoComplemento(), {class: 'form-control', placeholder:"Complemento"}) }}
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="inputEmail3">Araste o ícone para o local exato do imóvel</label>

                                            <div id="mapa" style="border: 0px solid #333; width: 100% !important; height: 350px;"
                                                 class="center-block"></div>

                                            {{ formHidden({name: 'noLatitude'}, idEndereco.getNoLatitude(), {class: 'form-control'}) }}
                                            {{ formHidden({name: 'noLongitude'}, idEndereco.getNoLongitude(), {class: 'form-control'}) }}
                                            </diSv>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="noo-submit">
                                                <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#alugar').click(function () {
                $('#idTipoAnuncio').val(1)
            })
            $('#alugar-temporada').click(function () {
                $('#idTipoAnuncio').val(4)
            })
            $('#vender').click(function () {
                $('#idTipoAnuncio').val(2)
            })

            var $input = $("#galeria");
            $input.fileinput({
                uploadUrl:             "{{ path('site_anuncio_upload_foto') }}",
                uploadAsync:           true,
                showUpload:            false,
                showRemove:            false,
                showCaption:           false,
                showCancel:            false,
                maxFileCount:          35,
                dropZoneTitle:         'Arraste suas fotos aqui',
                allowedFileExtensions: ["jpg", "gif", "png"],
                allowedFileTypes:      ["image"],
                allowedPreviewTypes:   ['image'],
                previewFileType:       ["image"],
                initialPreview:        [
                    {% for galeria in entity.getIdImovel().getIdGaleria() %}
                    "<img src='{{ galeria.getNoUrl() }}' class='file-preview-image'>",
                    {% endfor %}
                ],
                initialPreviewConfig:  [
                    {% for galeria in entity.getIdImovel().getIdGaleria() %}
                    {caption: "", width: "40px", url: "{{ path('site_anuncio_remove_foto') }}", key: '{{ galeria.getNoUrl() }}'},
                    {% endfor %}
                ]
            }).on("filebatchselected", function (event, files) {
                $input.fileinput("upload");
                $('button[type=submit]').prop('disabled', true)

            }).on("fileunlock", function (event, files) {
                console.log($('#galeria').data('fileinput').getFileStack().length);
//                return false;
//                if($('#galeria').data('fileinput').getFileStack().length <= 1){
//                    $('button[type=submit]').prop('disabled', false)
//                }
            }).change(function () {
//                $(".file-drop-zone").next().attr("class", "file-preview-thumbnails sortable");
//                $('.sortable').sortable();
            });

            // endereco
            $('#nuCep').blur(function () {
                $(this).click();

                carregarNoMapa($(this).val().replace('-', ''));
            })

            $('#nuCep').blur(function () {
                $('.buscar-cep').click();
            });

            $(".carregandoCep ").hide();
            $('.buscar-cep').click(function () {
                if ($('#nuCep').val()) {
                    $.ajax({
                        url:        "/buscar-cep",
                        data:       {cep: $('#nuCep').val()},
                        beforeSend: function () {
                            if ($("#idBairro").val() == "")
                                $(".carregandoCep ").fadeIn();
                        }
                    }).done(function (data) {
                        if (data) {
                            $('#idEstado').val(data.idEstado)
                            $('#noLogradouro').val(data.noLogradouro)

                            getMunicipio(data.idEstado, data.idMunicipio)
                            getBairro(data.idMunicipio, data.idBairro)
                        }
                    });
                }
            })

            $('#idEstado').change(function () {
                if ($(this).val()) {
                    getMunicipio($(this).val())
                }
            })

            $('#idMunicipio').change(function () {
                if ($(this).val()) {
                    getBairro($(this).val())
                }
            })

            function getMunicipio(idEstado, idMunicipio) {
                $.ajax({
                    url:        "/lista-municipios",
                    data:       {estado: idEstado},
                    beforeSend: function () {
                        $(".carregandoCep ").fadeIn();
                    }
                }).done(function (data) {
                    $('#idMunicipio option').remove();

                    $('#idMunicipio').append(new Option('Selecione', ''));
                    $.each(data, function (i, v) {
                        $('#idMunicipio').append(new Option(v, i));
                    })

                    if (idMunicipio) {
                        $('#idMunicipio' + ' option[value=' + idMunicipio + ']').attr('selected', 'selected')
                    }
                });
            }

            function getBairro(idMunicipio, idBairro) {
                $.ajax({
                    url:        "/lista-bairros",
                    data:       {municipio: idMunicipio},
                    beforeSend: function () {
                        $(".carregandoCep ").fadeIn();
                    },
                    complete:   function () {
                        $(".carregandoCep ").fadeOut();
                    }
                }).done(function (data) {
                    $('#idBairro option').remove();

                    $('#idBairro').append(new Option('Selecione', ''));
                    $.each(data, function (i, v) {
                        $('#idBairro').append(new Option(v, i));
                    })

                    if (idBairro) {
                        $('#idBairro' + ' option[value=' + idBairro + ']').attr('selected', 'selected')
                    }

                    var endereco = $('#noLogradouro').val() + ' - ' + $('#idBairro option:selected').text()
                    endereco = endereco + ' - ' + $('#idMunicipio option:selected').text() + ', ' + $('#idEstado option:selected').text()

                    carregarNoMapa(endereco);
                });
            }


            // maps
            var geocoder;
            var map;
            var marker;

            function initialize() {
                var latlng = new google.maps.LatLng(-18.8800397, -47.05878999999999);
                var options = {
                    zoom:      20,
                    center:    latlng,
                    mapTypeId: google.maps.MapTypeId.SATELLITE
                };

                map = new google.maps.Map(document.getElementById("mapa"), options);

                geocoder = new google.maps.Geocoder();

                marker = new google.maps.Marker({
                    map:       map,
                    draggable: true,
                    icon:      "../bundles/site/assets/images/icon/marker-icon-apartment.png"
                });

                marker.setPosition(latlng);
            }

            initialize();

            function carregarNoMapa(endereco) {
                geocoder.geocode({'address': endereco + ', Brasil', 'region': 'BR'}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            var latitude = results[0].geometry.location.lat();
                            var longitude = results[0].geometry.location.lng();

                            $('#txtEndereco').val(results[0].formatted_address);
                            $('#noLatitude').val(marker.getPosition().lat());
                            $('#noLongitude').val(marker.getPosition().lng());

                            var location = new google.maps.LatLng(latitude, longitude);
                            marker.setPosition(location);
                            map.setCenter(location);
                            map.setZoom(16);
                        }
                    }
                })
            }

            google.maps.event.addListener(marker, 'drag', function () {
                geocoder.geocode({'latLng': marker.getPosition()}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            $('#txtEndereco').val(results[0].formatted_address);
                            $('#noLatitude').val(marker.getPosition().lat());
                            $('#noLongitude').val(marker.getPosition().lng());
                        }
                    }
                });
            });
        })
    </script>
{% endblock %}