{% extends 'SiteBundle::layout.html.twig' %}

{% block body %}
    <script type="text/javascript" src="{{ asset('bundles/site/assets/js/jssor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/site/assets/js/jssor.slider.js') }}"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                $UISearchMode: 0,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $Loop: 1,                                       //[Optional] Enable loop(circular) of carousel or not, 0: stop, 1: loop, 2 rewind, default value is 1
                    $SpacingX: 3,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 3,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 6,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 253,                          //[Optional] The offset position to park thumbnail,

                    $ArrowNavigatorOptions: {
                        $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                        $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                        $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                        $Steps: 6                                       //[Optional] Steps to go for each navigation request, default value is 1
                    }
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth)
                    jssor_slider1.$ScaleWidth(Math.min(parentWidth, 1100));
                else
                    window.setTimeout(ScaleSlider, 30);
            }

            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
    <style>
        .noo-sidebar .gsearch .gsearch-wrap .gsearch-content .gsearch-action .gsubmit .btn {
            width: 100% !important;
            font-size: 24px;
            color: #94a2a7;
            background: #ededed;
            padding: 10px;
        }

        .gsearch .gsearch-wrap .gsearch-content .gsearch-action .gsubmit .btn {height: auto !important;}
    </style>

    <!-- Jssor Slider End -->
    <div class="noo-wrapper">
        <!-- START NOO MAINBODY -->
        <div class="container noo-mainbody">
            <div class="noo-mainbody-inner">
                <div class="row clearfix">
                    <!-- START MAIN CONTENT -->
                    <div class="noo-content col-xs-12 col-md-12">

                        <!-- START ARTICLE PROPERTY -->
                        <article class="property">
                            <h1 class="property-title">
                                {{ entity.getNoTitulo()|capitalize }}
                                <small>{{ entity|enderecoImovel|raw }}: <b> Cod. {{ entity.getIdImovel().getNuCodigo() }}</b></small>
                            </h1>

                            <ul class="social-list property-share clearfix">
                                <li><a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="Google +" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            </ul>

                            <div id="slider1_container" style="position: relative; width: 720px;
        height: 480px; overflow: hidden; margin-bottom: 30px;">

                                <!-- Loading Screen -->
                                <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                                    <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
                                    </div>
                                    <div style="position: absolute; display: block; background: url({{ asset("bundles/site/assets/images/slideshow/loading.gif") }}) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
                                    </div>
                                </div>

                                <div u="slides" style="cursor: default; position: absolute; left: 0px; top: 0px; width: 720px; height: 480px;
            overflow: hidden;">
                                    {% for galeria in entity.getIdImovel().getIdGaleria() %}
                                        <div>
                                            <img u="image" src="{{ galeria.getNoUrl() }}" />
                                            <img u="thumb" src="{{ galeria.getNoUrlThumbnail() }}" />
                                        </div>
                                    {% endfor %}

                                </div>

                                <div u="thumbnavigator" class="jssort07" style="width: 720px; height: 100px; left: 0px; bottom: 0px;">
                                    <div u="slides" style="cursor: default;">
                                        <div u="prototype" class="p">
                                            <div u="thumbnailtemplate" class="i"></div>
                                            <div class="o"></div>
                                        </div>
                                    </div>
                                    <span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
                                    </span>
                                    <span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;">
                                    </span>
                                </div>
                            </div>

                            <div class="property-summary">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="property-detail">
                                            <div class="property-detail-content">
                                                <div class="detail-field row">
                                                    <span class="col-xs-6 col-md-5 detail-field-label">Tipo</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if  entity.getIdImovel().getIdTipoImovel().getNoTipoImovel() %}
                                                            {{ entity.getIdImovel().getIdTipoImovel().getNoTipoImovel() }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>
                                                    <span class="col-xs-6 col-md-5 detail-field-label">Preço</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                      <span class="amount">
                                                          {% if entity.getIdImovel().getNuValor() %}
                                                              R$ {{ (entity.getIdImovel().getNuValor() / 100)|number_format(2, ',', '.') }}
                                                          {% else %}
                                                              -
                                                          {% endif %}
                                                      </span>
                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Quartos: </span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if entity.getIdImovel().getQtQuartos() %}
                                                            {{ entity.getIdImovel().getQtQuartos() }}
                                                        {% else %}
                                                            -
                                                        {% endif %}

                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Suites</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if entity.getIdImovel().getQtSuites() %}
                                                            {{ entity.getIdImovel().getQtSuites() }}
                                                        {% else %}
                                                            -
                                                        {% endif %}

                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Banheiros</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if entity.getIdImovel().getQtBanheiros() %}
                                                            {{ entity.getIdImovel().getQtBanheiros() }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Garagem</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                    {% if entity.getIdImovel().getQtGaragem() %}
                                                        {{ entity.getIdImovel().getQtGaragem() }}
                                                    {% else %}
                                                        -
                                                    {% endif %}

                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Número de andar</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if entity.getIdImovel().getNuAndar() %}
                                                            {{ entity.getIdImovel().getNuAndar() }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Número de andares</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if entity.getIdImovel().getQtAndares() %}
                                                            {{ entity.getIdImovel().getQtAndares() }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Lavabos</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if entity.getIdImovel().getQtLavabos() %}
                                                            {{ entity.getIdImovel().getQtLavabos() }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Valor em metro</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if entity.getIdImovel().getNuValorMetro() %}
                                                            R$ {{ entity.getIdImovel().getNuValorMetro()|number_format(2, ',', '.') }}
                                                        {% else %}
                                                            -
                                                        {% endif %}

                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Elevador</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if entity.getIdImovel().getQtElevador() %}
                                                            {{ entity.getIdImovel().getQtElevador() }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Cidade</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if entity.getIdImovel().getIdEndereco().getIdMunicipio().getNoMunicipio() %}
                                                            {{ entity.getIdImovel().getIdEndereco().getIdMunicipio().getNoMunicipio() }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Bairro</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if entity.getIdImovel().getIdEndereco().getNoBairro() %}
                                                            {{ entity.getIdImovel().getIdEndereco().getNoBairro() }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Condomínio</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                        {% if entity.getIdImovel().getNuValorCondominio() %}
                                                            R$ {{ entity.getIdImovel().getNuValorCondominio()|number_format(2, ',', '.') }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>

                                                    <span class="col-xs-6 col-md-5 detail-field-label">Pos. do Sol</span>
                                                    <span class="col-xs-6 col-md-7 detail-field-value">
                                                       {% set posi = entity.getIdImovel().getTpPosicaoSol() %}
                                                        {% if posi %}
                                                            {% if posi == 1 %}
                                                                {{ posicao.1 }}
                                                            {% endif %}
                                                            {% if posi == 2 %}
                                                                {{ posicao.2 }}
                                                            {% endif %}
                                                            {% if posi == 3 %}
                                                                {{ posicao.3 }}
                                                            {% endif %}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="property-desc">
                                            <p>
                                                {{ entity.getIdImovel().getDsImovel()|capitalize }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="noo-sidebar noo-sidebar-right col-xs-12 col-md-4">
                                        <div class="noo-sidebar-inner">
                                            <!-- START FIND PROPERTY -->
                                            <div class="block-sidebar find-property">
                                                <h3 class="title-block-sidebar">Buscar Propriedade</h3>
                                                <div class="gsearch">
                                                    <div class="gsearch-wrap">
                                                        <form class="gsearchform" method="get" role="search">
                                                            <div class="gsearch-content">
                                                                <div class="gsearch-field">
                                                                    <div class="form-group glocation">
                                                                        <div class="label-select">
                                                                            {{ '' |estados|raw }}
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group gsub-location">
                                                                        <div class="label-select">
                                                                            {{ app.session.get('idEstado') |municipios|raw }}
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group gstatus">
                                                                        <div class="label-select">
                                                                            {{ '' |tipoAnuncio|raw }}
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group gtype">
                                                                        <div class="label-select">
                                                                            <select class="form-control" id="bairro" name="bairro">
                                                                                <option value="">Todos os bairros</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group gtype">
                                                                        <div class="label-select">
                                                                            {{ '' |tipoImovel|raw }}
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group gbed">
                                                                        <div class="label-select">
                                                                            <select class="form-control" name="qtQuartos">
                                                                                <option>Quartos</option>
                                                                                <option>1</option>
                                                                                <option>2</option>
                                                                                <option>3</option>
                                                                                <option>4</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group gbath">
                                                                        <input type="text" name="precoDe" class="form-control input-de precoDe"
                                                                               mask="99.999.999" size="100"
                                                                               placeholder="Preço de"/>
                                                                        <input type="text" name="precoAte" class="form-control input-ate precoAte"
                                                                               mask="99.999.999" size="40"
                                                                               placeholder="Preço ate"/>
                                                                    </div>

                                                                    <div class="form-group gbath">
                                                                        <input type="text" name="areaDe" class="form-control input-de areaDe"
                                                                               mask="99.999" size="100"
                                                                               placeholder="Área de"/>
                                                                        <input type="text" name="areaAte" class="form-control input-ate areaAte"
                                                                               mask="99.999" size="40"
                                                                               placeholder="Área ate  "/>
                                                                    </div>

                                                                </div>

                                                                <div class="gsearch-action">
                                                                    <div class="gsubmit">
                                                                        <a class="btn btn-deault" href="#">Buscar</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="property-feature">
                                <h4 class="property-feature-title">Características</h4>

                                <div class="property-feature-content clearfix">
                                    {% for carac in caracteristica %}
                                        {% set classDiv = 'no-has' %}
                                        {% set classI = 'fa-times-circle' %}
                                        {% for caracImovel in entity.getIdImovel().getRlImovelCaracteristica() %}
                                            {% if caracImovel.getIdImovelCarateristica().getIdImovelCaracteristica() ==  carac.getIdImovelCaracteristica() %}
                                                {% set classI = 'fa-check-circle' %}
                                                {% set classDiv = 'has' %}
                                            {% endif %}
                                        {% endfor %}

                                        <div class="{{ classDiv }}">
                                            <i class="fa {{ classI }}"></i> {{ carac.getNoImovelCaracteristica() }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>


                            <div class="property-map">
                                <h4 class="property-map-title">Encontrar este imóvel no mapa</h4>

                                <div class="property-map-content">
                                    <div id="maps" class="property-map-box"></div>
                                </div>
                            </div>
                        </article>
                        <!-- END ARTICLE PROPERTY -->

                        <!-- START AGENT PROPERTY -->
                        <div class="agent-property">
                            <div class="agent-property-title">
                                <h3>Contato</h3>
                            </div>
                            <div class="agents grid clearfix">
                                <article class="hentry">
                                    <div class="agent-featured">
                                        <a class="content-thumb" href="#">
                                            {% if entity.getIdPessoa().getNoImagem() %}
                                                <img src="{{ entity.getIdPessoa().getNoImagem() }}" class="attachment-agent-thumb" alt="">
                                            {% else %}
                                                <img src="{{ asset('bundles/site/assets/images/icon/selo.png') }}"
                                                     class="attachment-agent-thumb" alt="">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="agent-wrap">
                                        <div class="agent-summary">
                                            <div class="agent-info">
                                                <div>
                                                    <i class="fa fa-envelope-square"></i>&nbsp;{{ entity.getIdPessoa().getIdUsuario().getNoEmail() }}
                                                </div>
                                                {% if entity.idPessoa.nuTelefone %}
                                                <div>
                                                    <i class="fa fa-phone"></i>&nbsp;{{ entity.idPessoa.nuTelefone }}
                                                </div>
                                                {% else %}

                                                {% endif %}
                                            </div>
                                            <div class="agent-desc">
                                                <div class="agent-action">
                                                    <a href="#">{{ entity.getIdPessoa().getNoPessoa()|capitalize }}</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </article>
                                <div class="conact-agent">
                                    <div class="alert alert-warning" role="alert">
                                        <strong>Atenção!</strong> Envie seu questionamento  direto para o anuciente.
                                    </div>
                                    <form role="form" id="conactagentform" method="post">
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" placeholder="Seu nome *">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" placeholder="Seu e-mail *">
                                        </div>
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" placeholder="Mensagem *"></textarea>
                                        </div>
                                        <div class="form-action">
                                            <button type="submit" class="btn btn-default">Enviar mensagem</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- START AGENT PROPERTY -->

                    </div>
                    <!-- END MAIN CONTENT -->
                </div>
            </div>
        </div>
        <!-- END NOO MAINBODY -->
    </div>

    {# Like Box of Facebook #}
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        function initialize() {
            var myLatlng = new google.maps.LatLng( {{ entity.getIdImovel().getIdEndereco().getNoLatitude() }}, {{ entity.getIdImovel().getIdEndereco().getNoLongitude() }});
            var mapOptions = {
                zoom:   10,
                center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById('maps'), mapOptions);

            var marker = new google.maps.Marker({
                position:    myLatlng,
                map:         map,
                "icon":      "{{ asset('bundles/site/assets/images/icon/marker-icon-apartment.png') }}"
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}